/* Sets navigation bar colour and positioning */
.navbar{
    background-color: #88b7f4;
    background-image: linear-gradient(to right, #88b7f4, #3a76c4 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0cm;
    padding: 1em;
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -1em;
}

.navbar > ul {
    list-style-type: none;
}

.navbar li > a {
    position: relative; /* Needed for the pseudo-element positioning */
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(255, 255, 255);
}

/* Create the animated underline */
.navbar li > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

/* Increase the width of the underline on hover */
.navbar li > a:hover::after {
    width: 100%; /* Full width underline */
}

/* Sets backround colour and default font */
body {
    font: 14px/1.6 'Open Sans' ,"Helvetica";
    background-color:rgb(193, 221, 249);
    overflow-x: hidden;
}

/* Sets default header 1 colour and positioning */
h1 {
    color: black;
    text-align: center;
    margin: 1.5em;
}

/* Sets default header 2 colour and positioning */
h2 {
    color: black;
    text-align: left;
    margin-left: 0.2em;
}

.logo {
    max-width: 100%;
    height: 150px;
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

/* Sets font size and style for numbers in book and lecture contents */
.big-numbered-list > li::marker {
    font-weight: bold;
    font-size: 21px;
}

.floating_image {
    float: right;
    margin-left: 15px;
}

.subcategories {
    font-size: 17px;
}

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: black;
}

/* Sets footer colour and positioning */
footer {
    background-color: #728fb4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: -1em;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 5em;
    padding: 1.5em;
}
